.headerstyle {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  height: 55px;
  background-color: #c4c4c4;
  padding: 19px 40px 19px 40px;
}

.taskText {
  font-weight: 700;
  color: white;
}

.pomodoroNumber {
  color: white;
}
