.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 72px;
}

.logo:hover {
  cursor: pointer;
}

.logotext {
  color: var(--red);
  font-size: 24px;
  margin-left: 13px;
}

.static {
  display: flex;
  align-items: center;
}

.static:hover {
  cursor: pointer;
}

.staticText {
  margin-right: 80px;
  margin-left: 5px;
  color: var(--red);
}
